* {
	padding: 0;
	margin: 0;
}

body {
	background: linear-gradient(white, lightyellow);
}

@media screen and (max-width: 900px) {
	body {
		background: linear-gradient(white, skyblue);
	}
	p {
		font-size: 20px;
	}
}

img {
	width: 200px;
	border-radius: 40px;
}

header {
	color: white;
	background: linear-gradient(130deg, wheat 40%, skyblue);
	text-align: center;
}

section {
	border: 2px dotted white;			
}

article {
	display: flex;
	justify-content: space-detween;
	flex-wrap: wrap;
}

h2 {
	background-color: lightblue;
	text-align: center;
}

h3 {
	background-color: lightyellow;
	text-align: center;
}

.t1 {
	color: black;
}

.me {
	line-height: 1.7;
}

.design {
	line-height: 1.7;
}